.hozon_area{
  margin: 0;
  grid-column:3; /* 列の範囲を指定 */
  grid-row: 1; /* 行を指定 */
  width: 9vw;
  height: 3vw;
  border: 0.2vw solid #83E1FF;
  position: relative;
  margin-top: 1.9vw;
  margin-left: 3vw;
  border-radius: 1vw;
}

.p2{
  position: absolute;
  color: white;
  font-size: 1.3vw;
  margin: 0;
  top:0.6vw;
  left: 1.7vw;
  letter-spacing: 0.2vw;
}

.hozonzumi_area{
  margin: 0;
  grid-column:3; /* 列の範囲を指定 */
  grid-row: 1; /* 行を指定 */
  width: 9vw;
  height: 3vw;
  border: 0.2vw solid #83E1FF;
  position: relative;
  margin-top: 1.9vw;
  margin-left: 3vw;
  border-radius: 1vw;
  background-color: rgba(0, 255, 56, 0.7);
}

.p{
  position: absolute;
  color: white;
  font-size: 1.3vw;
  margin: 0;
  top:0.6vw;
  left: 1.7vw;
  letter-spacing: 0.2vw;
}