.loginImage {
  width: 200px; /* 画像の幅を調整 */
  height: auto; /* アスペクト比を維持 */
  /* その他のスタイルを追加 */
}
.loginButton {
  background-color: black;
  color: white;
  border: none;
  outline: 1px solid white;
}

  