
.rogari_area{
  display: flex;
}

.img2{
  width: 6.8vw;
  height: 6.8vw;
  margin-top: 1.6vw;
  margin-left: 2vw;
}

.fukidasi_area {
  grid-column:2; 
  grid-row: 2 / span 3; 
  position: relative;
  display: inline-block;
  min-width: 100px;
  max-width: 61%;
  max-height: 80%;
  font-size: 1.5vw;
  background: rgba(255, 255, 255, 0.6);
  border: 0.3vw  solid #00A8A8;
  border-radius: 1vw;
  margin-top: 1vw;
  margin-left: 3.2vw;
}

.fukidasi_area:before {
  content: "";
  position: absolute;
  top: 40%;
  left: -5.2%;
  border: 0.8vw solid transparent;
  border-right: 1.3vw solid #00A8A8;
}

.p2{
  margin: 0;
  padding: 1vw;
  max-width: 100%;
}
