.rog4_area {
  grid-column:2;
  grid-row: 2 / span 3; 
  position: relative;
  display: inline-block;
  min-width: 120px;
  max-width: 90%;
  max-height: 70%;
  font-size: 2.5vw;
  background: rgba(255, 255, 255, 0.6);
  border: 0.5vw  solid #FFAB2D;
  border-radius: 1vw;
  margin-top: 3vw;
  margin-left: 2vw;
}

.rog4_area:before {
  content: "";
  position: absolute;
  top: 70%;
  left: 100.5%;
  border:3vw solid transparent;
  border-left: 2.8vw solid #FFAB2D;
  
}

.rog4 {
  margin: 0;
  padding: 2vw;
  max-width: 100%;
}