
.image3{
  margin: 0;
  grid-column:1; /* 列の範囲を指定 */
  grid-row: 3; /* 行を指定 */
  width: 11vw;
  height: 11vw;
  margin-top: 5%;
  margin-left: 2vw;
}
.user3{
  margin: 0;
  grid-column:1; /* 列の範囲を指定 */
  grid-row: 3; /* 行を指定 */
  color: #00A8A8;
  height: 15%;
  font-size: 2vw;
  text-align: center;
  margin-top: 82%;
}
.seikaku3{
  margin: 0;
  grid-column:1; /* 列の範囲を指定 */
  grid-row: 3; /* 行を指定 */
  color: #00A8A8;
  height: 10%;
  font-size: 1.8vw;
  text-align: center;
  margin-top: 100%;
}