.top {
    display: flex;
    // margin: 10vh 0 0 10vw;
    // width: 60vw;
    .titleText {
        font-size: 50px;
        color: #ffffff;
        white-space: nowrap;
    }
    .titleInput {
        font-size: 45px;
        width: 100%;
        background-color: transparent;
        color: #ffffff;
        border: none;
        outline: none;
        background: none;
        text-decoration: none;
        border-radius: 10px;
        // padding-left: 10px;
        box-shadow: 
        0 0 10px #0000ff,
        0 0 10px #0000ff,
        0 0 10px #0000ff,
        0 0 10px #0000ff;
    }
    .titleInput::placeholder {
        font-size: 45px;
        color: #ffffff;
    }
}
.main {
    // border: 2px solid #ffffff;
    // margin-top: 5vh;
    display: flex;
    .left {
        // border: 2px solid #ff0000;
        text-align: center;
        .logo1 {
            width: 100px;
            height: 100px;
        }
        .changeDiv {
            display: flex;
            justify-content: space-between;
            .change1 {
                display: flex;
                align-items: center;
                color: #ffffff;
                background-color: rgb(255, 255, 255, 0.5);
                border-radius: 50px;
                font-size: 15px;
                .changeIcon {
                width: 20px;
                margin-left: 5px;
                }
            }
        }
    }
    .right {
        .gptName1 {
            font-size: 40px;
            background-color: transparent;
            color: #ffffff;
            border: none;
            outline: none;
            border-radius: 10px;
            box-shadow: 
            0 0 10px #ff0000,
            0 0 10px #ff0000,
            0 0 10px #ff0000,
            0 0 10px #ff0000;
        }
        .gptName1::placeholder {
            color: #ffffff;
        }
        .gptSetting1 {
            border: none;
            outline: none;
            border-radius: 10px;
            box-shadow: 
            0 0 10px #ff0000,
            0 0 10px #ff0000,
            0 0 10px #ff0000,
            0 0 10px #ff0000;
            .gender {
                display: flex;
                background-color: rgb(255, 255, 255, 0.5);
                border-radius: 10px;
                .genderTitle {
                    color: #ffffff;
                    font-size: 15px;
                }
                .genderSelect {
                    background-color: transparent;
                    color: #ffffff;
                    border-radius: 50px;
                }
            }
            .character {
                display: flex;
                background-color: rgb(255, 255, 255, 0.5);
                border-radius: 10px;
                .characterTitle {
                    color: #ffffff;
                }
                .characterInput {
                    background-color: transparent;
                    border-radius: 10px;
                    color: #ffffff;
                }
                .characterInput::placeholder {
                    color: #ffffff;
                }
            }
            .position {
                display: flex;
                background-color: rgb(255, 255, 255, 0.5);
                border-radius: 10px;
                .positionTitle {
                    color: #ffffff;
                }
                .positiveLabel {
                    color: #ffffff;
                }
                .negativeLabel {
                    color: #ffffff;
                }
            }
            .loading {
                background-color: rgb(255, 255, 255, 0.5);
                border-radius: 10px;
                .loadingTop {
                    display: flex;
                    .loadingTitle {
                        color: #ffffff;
                    }
                    .loadingOne {
                        color: #ffffff;
                    }
                    .loadingAll {
                        color: #ffffff;
                    }
                }
                .loadingBottom {
                    .loadingSelect {
                        background-color: transparent;
                        color: #ffffff;
                        border-radius: 50px;
                    }
                }
            }
        }
    }
}
.button {
    .buttonDesign {
        background-color: transparent;
        font-size: 30px;
        color: #ffffff;
        box-shadow: 
        0 0 10px #FB37FF,
        0 0 10px #FB37FF,
        0 0 10px #FB37FF,
        0 0 10px #FB37FF;
        display: flex;
        align-items: center;
        text-shadow: 
        0 0 10px #FB37FF,
        0 0 10px #FB37FF,
        0 0 10px #FB37FF,
        0 0 10px #FB37FF;
        border-radius: 10px;
    }
}