.top {
  display: flex;
  margin: 5vh auto 0 auto;
  width: 80vw;
}
.top .titleText {
  font-size: 50px;
  color: #ffffff;
  white-space: nowrap;
  margin-right: 5px;
}
.top .titleInput {
  font-size: 45px;
  width: 100%;
  background-color: transparent;
  color: #ffffff;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  border-radius: 10px;
  padding-left: 5px;
  box-shadow: 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff;
}
.top .titleInput::-moz-placeholder {
  font-size: 45px;
  color: #ffffff;
}
.top .titleInput::placeholder {
  font-size: 45px;
  color: #ffffff;
}

.main {
  display: flex;
  margin-top: 5vh;
  width: 35vw;
}
.main .left {
  text-align: center;
  margin-right: 1vw;
  margin-left: 10%;
}
.main .left .logo1 {
  width: 100px;
  height: 100px;
  margin-bottom: 1vh;
}
.main .left .changeDiv {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}
.main .left .changeDiv .change1 {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  font-size: 15px;
}
.main .left .changeDiv .change1 .changeIcon {
  width: 20px;
  margin-left: 5px;
}
.main .right .gptName1 {
  font-size: 40px;
  background-color: transparent;
  color: #ffffff;
  width: 90%;
  border: none;
  outline: none;
  border-radius: 10px;
  padding-left: 5px;
  margin-bottom: 10%;
  box-shadow: 0 0 10px #ff0000, 0 0 10px #ff0000, 0 0 10px #ff0000, 0 0 10px #ff0000;
}
.main .right .gptName1::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.main .right .gptName1::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.main .right .gptSetting1 {
  border: none;
  outline: none;
  width: 85%;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 0 10px #ff0000, 0 0 10px #ff0000, 0 0 10px #ff0000, 0 0 10px #ff0000;
}
.main .right .gptSetting1 .gender {
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 2%;
  margin-bottom: 4%;
  white-space: nowrap;
}
.main .right .gptSetting1 .gender .genderTitle {
  color: #ffffff;
  font-size: 20px;
}
.main .right .gptSetting1 .gender .genderSelect {
  background-color: transparent;
  color: #ffffff;
  border-radius: 50px;
  font-size: 20px;
}
.main .right .gptSetting1 .character {
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 1%;
  margin-bottom: 4%;
}
.main .right .gptSetting1 .character .characterTitle {
  color: #ffffff;
  font-size: 20px;
  white-space: nowrap;
}
.main .right .gptSetting1 .character .characterInput {
  background-color: transparent;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  width: 100%;
}
.main .right .gptSetting1 .character .characterInput::-moz-placeholder {
  color: #ffffff;
}
.main .right .gptSetting1 .character .characterInput::placeholder {
  color: #ffffff;
}
.main .right .gptSetting1 .position {
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 1%;
  align-items: center;
  margin-bottom: 4%;
}
.main .right .gptSetting1 .position .positionTitle {
  color: #ffffff;
  font-size: 20px;
}
.main .right .gptSetting1 .position .positiveLabel {
  color: #ffffff;
  font-size: 20px;
}
.main .right .gptSetting1 .position .negativeLabel {
  color: #ffffff;
  font-size: 20px;
}
.main .right .gptSetting1 .loading {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 1%;
}
.main .right .gptSetting1 .loading .loadingTop {
  display: flex;
  padding: 1%;
  align-items: center;
}
.main .right .gptSetting1 .loading .loadingTop .loadingTitle {
  color: #ffffff;
  font-size: 20px;
  white-space: nowrap;
}
.main .right .gptSetting1 .loading .loadingTop .loadingOne {
  color: #ffffff;
  font-size: 20px;
  white-space: nowrap;
}
.main .right .gptSetting1 .loading .loadingTop .loadingAll {
  color: #ffffff;
  font-size: 20px;
  white-space: nowrap;
}
.main .right .gptSetting1 .loading .loadingBottom {
  text-align: center;
}
.main .right .gptSetting1 .loading .loadingBottom .loadingSelect {
  background-color: transparent;
  color: #ffffff;
  border-radius: 50px;
  font-size: 20px;
}

.buttonArea {
  width: 90%;
  padding: 30px 0 0 0;
}
.buttonArea .button {
  width: 12vw;
  margin-top: 5vh;
  margin: 10vh 5vw 0 auto;
}
.buttonArea .button .buttonDesign {
  background-color: transparent;
  cursor: pointer;
  font-size: 190%;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  width: 100%;
  padding: 3% 5% 3% 5%;
  white-space: nowrap;
  color: #ffffff;
  box-shadow: 0 0 10px #FB37FF, 0 0 10px #FB37FF, 0 0 10px #FB37FF, 0 0 10px #FB37FF;
  display: flex;
  align-items: center;
  text-shadow: 0 0 10px #FB37FF, 0 0 10px #FB37FF, 0 0 10px #FB37FF, 0 0 10px #FB37FF;
  border-radius: 10px;
}/*# sourceMappingURL=Home.module.css.map */