.record {
    display: flex;
    height: 100vh;
    align-items: center;
}
.left {
    width: 40vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .buttonLine {
        margin-top: 5%;
        padding-left: 10%;
        height: 30%;
        .homeButton {
            background-color: transparent;
            color: #ffffff;
            border: none;
            font-size: 25px;
        }
    }
    .homeButton:focus {
        text-shadow: 
        0 0 5px #d3d3ff,
        0 0 5px #d3d3ff,
        0 0 5px #d3d3ff,
        0 0 5px #d3d3ff;
    }
    .leftBottom {
        box-shadow: 
        0 0 10px #bbbbff,
        0 0 10px #bbbbff,
        0 0 10px #bbbbff,
        0 0 10px #bbbbff;
        padding: 5%;
        border-radius: 10px;
        height: 60%;
        display: flex;
        flex-direction: column;
        margin: 0 5% 0 5%;
        justify-content: space-around;
        .title {
            background-color: rgb(255, 255, 255, 0.5);
            border-radius: 10px;
            padding: 10px 10%;
            margin: 1% 0 0 0;
            display: flex;
            .titleText {
                color: #ffffff;
                padding-right: 5%;
            }
            .titleVar {
                color: #ffffff;
            }
        }
        .bottomContents {
            background-color: rgb(255, 255, 255, 0.5);
            border-radius: 10px;
            padding: 2% 10%;
            margin: 1% 0 0 0;
            .nameCon {
                display: flex;
                .nameTitle {
                    color: #ffffff;
                }
                .nameVar {
                    color: #ffffff;
                }
            }
            .positionCon {
                display: flex;
                .positionTitle {
                    color: #ffffff;
                }
                .positionVar {
                    color: #ffffff;
                }
            }
        }
    }
}
.right {
    // border: 2px solid #ff00ff;
    width: 60vw;
    height: 80vh;
    padding: 0 1%;
    .bookArea {
        overflow: scroll;
        width: 100%;
        // border: 2px solid yellow;
        height: 100%;
        display: flex;
        flex-direction: column;

        .bookLine {
            width: 90%;
            height: 100%;
            margin: 0 auto;
            margin-top:5%;
            .bookTop {
                display: flex;
                justify-content: space-around;
                .book {
                    width: 100px;
                    height: 150px;
                    border-radius: 5px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-bottom: 1%;
                    .bookTitle {
                        color: #ffffff;
                        text-align: center;
                    }
                }
            }
            .bookBottom {
                .bottom {
                    box-shadow:
                    0 0 10px #bbbbff,
                    0 0 10px #bbbbff,
                    0 0 10px #bbbbff,
                    0 0 10px #bbbbff;
                    height: 40px;
                    margin-bottom: 1%;
                    border-radius: 10px;
                    // margin-bottom: 10%;
                }
            }
        }
    }
}